# Configuración de Servidor CCC
PORT=3000

# Base de Datos
DB_USER=admin
DB_PASS=tu-contraseña-aquí
DB_NAME=ccc_system
DB_AUTH_SOURCE=admin
MONGO_URI=mongodb://usuario:password@localhost:27017/ccc_system?authSource=admin

# Evidencias
UPLOAD_DIR=./uploads/evidencias
MAX_FILE_SIZE=5242880 # 5MB

# Seguridad JWT
JWT_SECRET=tu-secreto-jwt-generado
JWT_EXPIRES_IN=8h
